<section>
    <table>
        <tr>
            <td>
                <article>
                    <h1 class="form_titulo">ALEJANDRO SNOPEK PRESENTÓ PROYECTO PARA DEROGAR EL DECRETO DE CONVOCATORIA A ELECCIONES PROVINCIALES</h1>
                    <p class="form_descripcion">
                        El diputado provincial del Frente de Todos-Juntos por Jujuy, Alejandro Snopek, presentó un proyecto en la Legislatura para derogar el decreto de convocatoria a elecciones provinciales para el próximo 27 de junio. “Es imprudente e innecesario arriesgar la salud de los jujeños en pleno invierno por una elección, aún más, sin saber si la segunda ola de contagios va a afectar de manera contundente a Jujuy como ya lo hizo durante el año pasado en esta misma época”, señaló, al respecto, el legislador. 
En diálogo con la prensa, el diputado del Frente de Todos manifestó que, si bien, la Constitución de la Provincia le otorga facultades al Ejecutivo Provincial para determinar la fecha de realización de las elecciones, la misma se debería fijar en base al bien común de toda la sociedad y no a una especulación electoral de un sector político. 
Más adelante, Snopek agregó que la convocatoria a votar en pleno invierno es una decisión inoportuna, imprudente y temeraria, que pone innecesariamente en un mayor riesgo a la salud del conjunto de los jujeños, “máxime teniendo en cuenta lo que sucedió el año pasado, cuando en pleno invierno se llegó al pico máximo de contagios en la primera ola de la pandemia y el sistema de salud provincial se vio saturado y desbordado” 
Previo a culminar, el ingeniero destacó que “si la pretensión del Ejecutivo Provincial es despegar las elecciones provinciales de las nacionales, bajo el pretexto de discutir por separado las cuestiones de Jujuy, los comicios se podrían realizar tranquilamente a posteriori de las nacionales, por ejemplo, en el mes de noviembre, donde seguramente muchos más comprovincianos ya se encontrarán inmunizados contra el covid por efecto de la vacunación”. 
Por último, el diputado del bloque “Juntos Por Jujuy” invitó a la reflexión al Ejecutivo provincial para que reconsidere la fecha de convocatoria a elecciones y priorice, por sobre manera, la salud y la vida de todos los jujeños.
                    </p>
                </article>
            </td>
            <td>
                <div><img class="form_img1" src="./assets/img/img1.jpeg"></div>
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>
                <article>
                    <h1 class="form_titulo">La vacunación prosigue en la capital jujeña</h1>
                    <p class="form_descripcion">
                        El Ministerio de Salud de Jujuyinformó el cronograma de vacunación en respuesta a 
<samp style="color: dimgray;">Covid-19</samp> previsto por la Mesa de Vacunas a partir de este viernes 26 de marzo en HOSCAM de Ciudad Cultural y Hospital Snopek de Alto Comedero.
En el mismo sentido, recordó que las personas notificadas de manera previa a través de correo electrónico o teléfono, deberán concurrir siempre con DNI en mano, utilizando de forma correcta el barbijo y respetando la distancia social. De igual modo, se solicita evitar la asistencia en caso de manifestar síntomas como fiebre de 37.5 grados o más, tos, dolor de garganta, dificultad para respirar o complicaciones gastrointestinales como diarrea, ante lo cual se debe llamar a la línea 0800 – 888 – 4767, disponible las 24 horas; y no acudir de forma espontánea, ya que solo se efectúa la inmunización a las personas incluidas en las listas oficializadas.
                    </p>
                </article>
            </td>
            <td>
                <div><img class="form_img2" src="./assets/img/img2.jpg"></div>
            </td>
        </tr>
    </table>
</section>
